{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | list{% endblock %}

{% block body %}
    <h3 class="mb-3">{{ titlePage }}</h3>


    <div class="container ">
        <div class="row row-cols-2 row-cols-lg-3 g-4 g-lg-5">

            {% for wish in wishes %}
                {% set r = random(1, 3) %}
               <div class="col">
                <div class="p-2 card " style="width: 18rem;">
                    <img src="{{ asset('img/logoWishes/wish' ~ r ~'.png') }}" style="width: 20%" class="card-img-top" alt="image">
                    <div class="card-body">
                        <h5 class="card-title">{{ wish.title }}</h5>
                        {% if wish.category %}
                            <p class="card-text">Category: {{ wish.category.name }}</p>
                        {% endif %}
                        <p class="card-text">{{ wish.dateCreated|date('Y-m-d') }}, Note : {{ wish.vote }}</p>
                        <a href="{{ path('wish_detail', {'id' : wish.id}) }}" class="btn btn-secondary stretched-link">Detail</a>
                    </div>
                </div>
               </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}
