
<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('main_home') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('wish_list') }}">List</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('wish_listBestWish') }}">Best Wishes</a>
    </li>

    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('wish_create') }}">New Wish</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Logout {{ app.user.pseudo }}</a>
        </li>
    {% else%}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
        </li>
    {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('main_aboutUs') }}">About us</a>
        </li>
</ul>